<h1>Songs/h1>
<%= link_to 'add songs', new_song_path %>
<hr/>
<h2><%= @songs.length <= 0 ? "No Songs" : "" %></h2>
<ul>
  <% @songs.each do |song| %>
  <li>
    <%= link_to song.name, song %>
  </li>
  <% end %>
</ul>