<h1>Songs</h1>
<hr/>
<ul>
  <% @song.each do |songs| %>
  <li>
    <%= link_to song.name, song %>
  </li>
  <% end %>
</ul>
<br>
<br>
<br>
<%= link_to 'Delete songs', @song, method: :delete, class: 'ui red button inverted' %>
